<!-- Subtle background pattern -->
<div class="pointer-events-none fixed top-0 left-0 -z-10 h-full w-full">
  <div class="absolute inset-0" data-container-bg="true">
    <div class="aura-background-component absolute top-0 -z-10 h-full w-full">
      <div data-us-project="ty3N7ZPaIU7KlWixQFIc" class="absolute top-0 left-0 -z-10 h-full w-full"></div>
    </div>
  </div>
</div>

<!-- Header Part -->
<Part slug="header"></Part>

<!-- Main Content -->
<main>{{ post.content }}</main>

<!-- Footer Part -->
<Part slug="footer"></Part>
