<!-- wp:universal/element {"tagName":"div","contentType":"blocks","className":"pointer-events-none fixed top-0 left-0 -z-10 h-full w-full"} -->
<!-- wp:universal/element {"tagName":"div","contentType":"blocks","globalAttrs":{"data-container-bg":"true"},"className":"absolute inset-0"} -->
<!-- wp:universal/element {"tagName":"div","contentType":"blocks","className":"aura-background-component absolute top-0 -z-10 h-full w-full"} -->
<!-- wp:universal/element {"tagName":"div","contentType":"empty","globalAttrs":{"data-us-project":"ty3N7ZPaIU7KlWixQFIc"},"className":"absolute top-0 left-0 -z-10 h-full w-full"} /-->
<!-- /wp:universal/element -->
<!-- /wp:universal/element -->
<!-- /wp:universal/element -->

<!-- wp:core/template-part {"slug":"header"} /-->

<!-- wp:universal/element {"tagName":"main","contentType":"text","content":"{{ post.content }}"} /-->

<!-- wp:core/template-part {"slug":"footer"} /-->